@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Archivo', sans-serif;
}

.menu-bar,
.menu-overlay-bar {
  @apply fixed top-0 left-0 w-screen p-8 flex justify-between items-center z-[1];
}

@layer utilities {
  .clip-path-menu {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  .clip-path-menu-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}