---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<p>Soy Rafa</p>
</Layout>

<style>
	body {
		background-color: #000;
		color: #fff;
		font-family: 'Arial', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
</style>