






.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 3px #c5fb45;
  line-height: 70%;
}




.menu-link-item-holder a {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-info {
  display: flex;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .menu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a {
    font-size: 60px;
  }
}
